body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.form{
    width: 1000px;
    border: solid 2px red;
    margin-left: 250px;
    margin-top: 70px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
.demo-btn {
    background: #ff5c35;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.about, .mission, .story, .stats {
    padding: 50px 20px;
}
.about{
    display: flex;align-items: center;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.about img{
    max-width: 300px;
    border-radius: 10px;
}
.mission, .story {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.mission img, .story img {
    max-width: 300px;
    border-radius: 10px;
}
.stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.stat-box {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}