
.order-form {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 600px;
}
.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.order-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.order-details {
    flex-grow: 1;
}
p{
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 30px;
}
.btn1{
    border: 1px solid darkorange;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}
.btn1:hover{
    background: orange;
    border: 2px solid darkorange;
}
.btn2{
    border: 1px solid darkorange;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 5px;
}
.btn2:hover{
    background: orange;
    border: 2px solid darkorange;
}

.remove-btn{
    background: red;
    border: 2px solid;
    color: white;
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 5px;
}
.remove-btn:hover {
    background: rgb(246, 155, 155);
    border: 2px solid darkred;
}
.note{
    color: gray;
    font-size: 15px;
}
#order-footer{
    border: 2px solid rgb(119, 66, 0);
}
